{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% if titulo %}
    <title>{{ titulo }} - Mi Sitio</title>
    {% else %}
    <title>Bienvenido a Mi Sitio</title>
    {% endif %}
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='estilo.css') }}">
    {{bootstrap.load_css()}}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color: #cc3322;">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {{ render_nav_item('index', 'Home', use_li=True) }}
            {% if session['usuario'] %}
            {{ render_nav_item('logout', 'Cerrar sesión', use_li=True) }}
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main class="container">
        {{ render_messages(container=False, dismissible=True) }}

        {% block content %}
        {% endblock %}
        
    </main>

    {{bootstrap.load_js()}}

</body> 
</html>